* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    align-items: center;
}

header,
footer {
    background-color: #222831;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin: 0 auto;
    padding: 20px;
}

footer>p {
    width: 60vw;
}

h1 {
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    font-weight: 500;
}

article {
    width: 60vw;
    margin: 0 auto;
    padding: 20px;
}

figure {
    margin-bottom: 40px;
}

img {
    width: 100%;
    border-radius: 5px;
    transition: 0.1s transform;
}

img:hover {
    transform: scale(1.05);
}

p {
    margin-bottom: 40px;
}

P:last-of-type {
    margin-bottom: 0;
}

figcaption {
    font-size: 80%;
    font-style: italic;
    font-weight: 500;
}

.music {
    display: block;
    margin-top: 20px;
}

video {
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

nav>ul {
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

nav>ul>li {
    width: 100%;
    height: 100%;
}

nav>ul>li>a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
}

nav>ul>li>.selected {
    background: red;
}

li:hover {
    cursor: pointer;
}

nav {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

.top {
    width: 80px;
    height: 80px;
    background: #222831;
    border: none;
    font-size: 150%;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 120px;
    right: 120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1000px) {
    article {
        width: 80%;
    }

    img:hover {
        transform: none;
    }

    .top {
        width: 60px;
        height: 60px;
        bottom: 60px;
        right: 60px;
    }
    
    nav>ul {
        display: block;
    }

    header{
        height: auto;
    }
    
    nav {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    article {
        width: 100vw;
        padding: 20px;
    }

    body {
        font-size: 15px;
    }

}